body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat; */
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(194, 189, 190);
    display: flex;
    justify-content: space-between;
}
nav>h2>a {
    padding-left: 40px;
    font-size: 25px;
    color: black;
    text-decoration: none;
}
nav>h2>a:hover {
    content: '';
    color: blueviolet;
    transition: 0.5s;
}
.menu {
    margin-right: -20em;
}
.menu {
    display: flex;
    flex-wrap: wrap;
}
.menu>li {
    list-style: none;
    display: inline-block;
    margin: 5px 20px;
    position: relative;
}
.menu>li>a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.menu>li::after {
    content: '';
    height: 3px;
    width: 0;
    background: dodgerblue;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.menu>li:hover::after {
    width: 100%;    
}

@media only screen and (max-width: 1025px) {
    nav>ul {
        display: none;
    }
}

.home {
    text-align: center;
    margin-top: 15em;
    margin-bottom: 20em;
}
.home>h3 {
    font-size: 20px;
}
.home>h1 {
    font-size: 55px;
}
.home>h2 {
    font-size: 25px;
}

.aboutme {
    display: grid;
    grid-template-columns: [one] 40% [two] 60%;
}
.aboutme>div {
    margin-left: 100px;
}
.img_aboutme>img {
    width: 90%;
}
.details_aboutme {
    padding-left: -20em;
}
.details_aboutme>h1 {
    font-size: 50px;
}
.details_aboutme>h3 {
    font-size: 20px;
    color: rgb(160, 158, 158);
}
.details_aboutme>div {
    display: grid;
    grid-template-columns: [one] 30% [two] 50%;
    font-size: 20px;
    margin-bottom: 80px;
}
.about_aboutme {
    color: rgb(65, 63, 63);
}
.details_aboutme>a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: 20px solid dodgerblue;
    background-color: dodgerblue;
    border-radius: 50px;
}
.details_aboutme>a>i {
    font-size: 25px;
}
.details_aboutme>a:hover {
    color: black;
    transition: 0.5s;
}
